.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
.map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
}
.itinerary { 
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row: 1;
}

/*.td {
  cursor: pointer;
}*/