{% extends 'base.html' %}

{% block text %}
<h1>Schip</h1>

<img src="/static/verlichting_small.jpg" alt="verlichting in de baai van Alderney" style="width:90%"
title="Alderney 2019">

<p>
Verlichting is een Trintel 1A, gebouwd in 1962 op de jachtwerf Anne Wever te Den Bosch. Haar huidige thuishaven is Naarden, vanwaar dagtochten op het Markermeer gevaren worden. In de zomer worden er tochten ondernomen op de Noordzee.</p>
</p>

<p>
[Afbeelding metalen plaatje]</p>

<p>
[invoeren kengetallen]</p>
{% endblock %}